.body {
    background-image: url(../img/background.png);
    
    background-size: cover;
}
.header {
    padding: 0;
    margin: 0;

}
.container {
    width: 1030px;
    margin: 0 auto;
}
.logo-link-flex {
    display: flex;
    text-decoration: none;
}
.logo-link{
    margin-top: 46px;
    max-height: 53px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    text-decoration: none;
}

.animation {
    width: 53px;
    height: 47px;
    position:relative;
    margin:0 auto;

}
.animation img {
    position:absolute;
    left: 0;
    top: 0;
}
.main-logo-hover {
    opacity: 0;
}
.main-logo {
    opacity: 1;
}
.logo-link:hover .main-logo-hover{
    opacity: 1;
}
.logo-link:hover .main-logo {
    opacity: 0;
}
.title-header {
color: #fff;
font-size: 29px;
line-height: 29px;
font-weight: bold;
text-transform:uppercase;
text-decoration: none;
margin-left: 10px;
}
.title-child {
color: #fff;
font-size: 18px;
line-height: 18px;
font-weight: bold;
text-transform:uppercase;
text-decoration: none;
margin-left: 10px;
}
.logo-link:hover .title-header, .logo-link:hover .title-child {
    color:  #F26522;
    
}
.contacts {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;

}
.mail {
    color: #fff;
    margin-top: 46px;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
} 
.phone {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 17px;
    text-decoration: none;
}
.mail:hover, .phone:hover {
    color:  #F26522;
    
}
.link-info { 
    margin: 0;
    background: #F26522;
    border: 1px solid #F26522;
    width: 300px;
    height: 55px;
    position:absolute;
    bottom: -55px;
    opacity:0;
}
.tours-photo-hover:hover .link-info{
    bottom:0;
    opacity: 1;
    transition:0.7s;
}
.tours{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display:grid;
    grid-template-columns:repeat(3, 300px) ;
    grid-column-gap:61px ;
    grid-row-gap: 37px;
    justify-items:start;
}

.link-info {
    margin: 0;
    background: #F26522;
    border: 1px solid #F26522;
    width: 300px;
    height: 55px;
    position:absolute;
    bottom: -55px;
    opacity:0;

}
.link-info-text {
    display: flex;
}
.items {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 8px;
    padding-left: 16px;
}
.from {
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
    padding-top: 7px;
}
.price {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}
.view-details {
    padding-bottom:12px ;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 37px;

}
.link{
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.view-details::after {
    content: '>';
    display: block;
    text-align: right;
    font-size: 125%;
    color: #FFFFFF;
    padding-left: 15px;

}
.header-tours {
    display: block;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    text-decoration: none;

}
.header-tours:hover {
    color: #F26522;
    
}
.tours-photo-hover{
    position:relative;
    overflow:hidden;
}
.copyright { 
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding-top: 49px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}